mixin flightItem(item)
    .flight-item
        .details
            .flight-image-container
                img(src=item.img) 
                .title= item.airline
            .time-depart 
                .time.font-weight-bold= item.timeDepart
                .location= item.locationDepart
            .stops 
                .line
                div= item.stops
            .time-return
                .time.font-weight-bold= item.timeReturn
                .location= item.locationReturn
            .time-duration= item.duration
        .actions
            .price
                div= item.price
                div.des OneTravel
            .buttons-row
                a.btn.btn-primary.view-deal(href="#") View Deal
                a.btn.btn-primary.down-list
                    span.fa.fa-angle-down

