mixin hotel-item(hotel)
    .hotel-item
        .thumbnail-preview
            img
        .hotel-images.col-sm-4
            img.showcase(src=hotel.showcase)
            .hotel-thumbnails
                .image1
                    img(src=hotel.thumb1)
                .image2
                    img(src=hotel.thumb2)
                .image3
                    img(src=hotel.thumb3)
        .hotel-detail.col-sm-8
            .detail-left.col-sm-8
                .hotel-name= hotel.name
                .rating-location
                    span
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    span.location &nbsp &nbsp
                        i.fa.fa-map-marker
                        a(href="#", data-toggle="tooltip", title="Hoan Kiem district is a great choice....") &nbsp Hoan Kiem District, Ha Noi - View on map
                .location-review
                    i.fa.fa-certificate
                    span &nbsp Excellent location
                    span &nbsp (Inside city center)
                .offers(data-toggle="tooltip", title="Some deals include: Free Wheel Chair, Free Moon")
                    .offers-title 
                        strong Offers
                    ul.offers-items
                        li.item
                            i.fa.fa-wheelchair-alt
                            span
                                strong &nbsp Free Wheel Chair
                        li.item
                            i.fa.fa-moon-o
                            span
                                strong &nbsp Free Moon
                .options(data-toggle="tooltip", title="Booking includes: Free cancellation, Pay later")
                    .options-title 
                        strong Options
                    ul.options-items
                        li.item
                            i.fa.fa-refresh
                            span
                                strong &nbsp Free cancellation
                        li.item
                            i.fa.fa-credit-card
                            span
                                strong &nbsp Pay later
                .services
                    ul.list-services
                        li(data-toggle="tooltip", title="Hotel facility: Automobile")
                            i.fa.fa-automobile
                        li(data-toggle="tooltip", title="Hotel facility: Gamepad")
                            i.fa.fa-gamepad
                        li(data-toggle="tooltip", title="Hotel facility: Motorcycle")
                            i.fa.fa-motorcycle
                        li(data-toggle="tooltip", title="Hotel facility: Wifi")
                            i.fa.fa-wifi
            .detail-right.col-sm-4
                .review
                    div= hotel.ratingComment
                    div= hotel.numberReviews + " reviews"
                .rating-container
                    .triangle-pointer
                    .rating-square 
                        span= hotel.rating